.form-container {
    width: 100%;
}

.buttom {
    width: 100%;
    border: 0;
    border-radius: 45px;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0;
    color: hsl(216, 12%, 8%);
    background-color: hsl(25, 97%, 53%);
    transition: .3s;
    cursor: pointer;
    margin-top: 2rem;
}

.buttom:hover {
    background-color: hsl(0, 100%, 100%)
}

.options-conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}